# Caiani: Class 1 (11/05/2020)

Data consist of __individuals__ and __variables__ that give us information about those individuals. An individual can be an object or a person. A variable is an attribute, such as a measurement or a label.

In [1]:
import pandas as pd
table1 = pd.read_excel("tables/table1.xlsx", index_col=0, header = 0)
table1

           Age  Sex  Prosthetic size  Device  EDV  EF  MR  NYHA
Subject 1   85    0               27  1(ICD)  123  21   0     4
Subject 2   43    1               23   2(PM)   98  64   1     1
Subject 3   72    0               23  1(ICD)   76  62   4     1
Subject 4   23    1               21  1(ICD)   84  58   3     1

In this example, the individuals are the subjects. There are 8 variables in this dataset:
- __Age__
- __Sex__
- __Prosthetic size__
- __Device__
- __End-Diastolic Volume (EDV)__
- __Ejection Fraction (EF)__
- __Mitral Regurgitation (MR)__
- __NYHA (New York Heart Association) Heart Failure Classification__

There are two types of variables: __quantitative__ and __categorical__.

- __Categorical variables__ take category or label values and place an individual into one of several groups. Each observation can be placed in only one category, and the categories are mutually exclusive. 
    - __Nominal values__ represent discrete units and are used to label variables, that have no quantitative value. Just think of them as 'labels'. Note that nominal data that has no order. Therefore if you would change the order of its values, the meaning would not change. In our example the __Device__ variable is Nominal-categorical variable as well as __sex__.
    - __Ordinal values__ represent discrete and ordered units. It is therefore nearly the same as nominal data, except that it’s ordering matters. It's the case of __MR__ and __NYHA__. Ordinal scales are usually used to measure non-numeric features like happiness, customer satisfaction and so on.
- __Quantitative variables__ take numerical values and represent some kind of measurement. In our medical example, age is an example of a quantitative variable because it can take on multiple numerical values. It also makes sense to think about it in numerical form; that is, a person can be 18 years old or 80 years old. Weight and height are also examples of quantitative variables.
    - __Discrete Data__ are those whose values are distinct and separate. In other words: We speak of discrete data if the data can only take on certain values. This type of data can’t be measured but it can be counted.
    - __Continuous Data__ represents measurements and therefore their values can’t be counted but they can be measured.

Having a good understanding of the different data types, also called measurement scales, is a crucial prerequisite for doing Exploratory Data Analysis (EDA), since you can use certain statistical measurements only for specific data types.

<img src="images/data.png" style="width:70%"/>